.main {
	width: 100%;
	min-height: calc(100vh - 60px);
	background-color: #e1f2f8;
	display: flex;
	padding: 20px;
}
.block {
	background-color: #fff;
	width: 100%;

}
.block-centered {
		max-width: 700px;
		margin: 0 auto;
		padding: 20px;
}

.block.small {
	width: 20%;
}
.block.lg {
	width: calc(80% - 20px);
	margin-left: 20px;
}
.modal-title {
	paddin: 20px;
	height: 50px;
}

.block-title {
  height: 80px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  line-height: 80px;
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  padding-left: 20px;
}
