.button {
 height: 40px;
 border-radius: 4px;
 width: 100%;
 text-transform: uppercase;
 cursor: pointer;
}

.button.success {
 background-color: #1ba3d6;
 color: #fff;
}

.button.button-righted {
 width: auto;
 padding: 0 20px;
 position: absolute;
 right: 20px;
 top: 20px;
}