.header {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #ddd;
	display: flex;
}

.header-logo {
	width: 60px;
	height: 100%;
	padding: 10px;
	border-right: 1px solid #ddd;
}


.header-logo img {
	width: 100%;
	height: 100%;
}


.header-search {
	width: 200px;
	height: 100%;
	padding:  0 20px;
	border-right: 1px solid #ddd;
}

.header-search div {
	height: 40px;
	width: 100%;
	position: relative;
	padding-top: 10px;
}

.header-search div input {
	width: 100%;
	height: 40px;
	border-radius: 25px;
	outline: none;
	border: 1px solid #ddd;
}

.header-search div img {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 20px;
	right: 10px;

}

.header-nav {
	width: calc(100% - 320px);
	height: 100%;
}

.header-nav ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.header-nav ul li {
	padding: 0 20px;
	line-height: 60px;
	cursor: pointer;
}

.header-nav ul li:hover {
	background: #0077b7;
	color: #fff;
}

.header-ava {
	width: 60px;
	height: 100%;
	padding: 5px;
	border-left: 1px solid #ddd;
	margin-left: auto;
}

.header-ava img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
