.form-field {
 width: 100%;
 padding: 10px 0;
}

.input {
 width: 100%;
 height: 40px;
 padding: 0 10px;
 border-radius: 4px;
 outline: none;
 border: 1px solid #ddd;
 line-height: 1.4;
}

.textarea {
 min-height: 100px;
 resize: none;
 padding-top: 10px;
 padding-bottom: 10px;
}

.form-field--file {
	border: 2px dashed #ddd;
	height:60px;
	position: relative;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-field--file input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}
.form-field--file img {
	width: 30px;
	height: 30px;
	margin-left: 10px;

}

.input.is-error {
	border-color: #ff0000;
}